
<section>
    <h2>Sweet</h2>
    <img src="https://hips.hearstapps.com/hmg-prod/images/delish-how-to-make-a-smoothie-horizontal-1542310071.png" alt="healthy-smoothy" />
</section>

<section>
    <h2>Healthy</h2>
    <img src="https://www.jessicagavin.com/wp-content/uploads/2020/01/how-to-make-a-smoothie-22-1200.jpg" alt="healthy-smoothy" />
</section>